extends layout

block content
    .wrapper#background
        .container
            nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
                .container
                    .navbar-header
                        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/')
                            p WCMN

                    .collapse.navbar-collapse.navbar-exl-collapse
                        ul.nav.navbar-nav.navbar-right#header
                            li 
                                a(href="/resources") Resources
                            li
                                a(href='mailto:tealynsea@hotmail.com?Subject=Feedback WCMN') Feedback

                            li.divider-vertical

                            li.dropdown
                                a.dropdown-toggle(href="/auth/login" data-toggle="dropdown") Sign In
                                .dropdown-menu#dropdownForm
                                    form(action="/auth/login", method="post")
                                      input(type="text", name="username", placeholder="Username")
                                      input(type="password", name="password", placeholder="Password")
                                      input(type="submit" class="btn")
            

            div.jumbotron
                h1 Women's Coding Mentoring Network

            div.well
                h4 Welcome to the Women's Coding Mentoring Network.  
                p Are you just embarking on the path into the wonderful world of coding and are looking for someone who can share her experience with you? 
                p Are you someone with years of experience and wisdom and want to share that with someone new to coding?  

                p Whatever the case may be, join the growing community of women coders.  
                b Sign up below.
                p.warning **IMPORTANT!**  THIS APP IS FOR DEMO PURPOSES ONLY.  IT IS NOT AN ACTIVE APPLICATION.


            div.row
                div.col-sm-6 
                    div.thumbnail
                        img(src='./images/mentee.jpg' alt='photo credit morgueFile.com')
                        div.caption
                            h3 Mentee Application
                            p Apply here to be considered for mentorship.
                            a.btn.btn-primary(href="/mentee") Apply

                div.col-sm-6
                    div.thumbnail
                        img(src="./images/mentor.jpg" alt="photo credit morgueFile.com")
                        div.caption
                            h3 Mentor Application
                            p Apply here to become a mentor.
                            a.btn.btn-primary(href="/mentor") Apply

            footer
                .container
                    .row
                        .col-sm-4
                            h6 Copyright © 2014 Teri Castle
                        .col-sm-4
                            h6 About Teri
                            p Teri is a coding enthusiast who is looking for opportunities to flourish under the tutalage of experienced coders.  Please contact her if you are looking for interns or jr. web developers to mold into super coders.
                        .col-sm-4
                            h6 navigation
                            ul.unstyled
                                li
                                    a(href='/') Home
                                li
                                    a(href='#') Services
                                li 
                                    a(href='mailto:tealynsea@hotmail.com') Contact Teri














             
