extends layout

block content

    
            nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
                .container    

                        .navbar-header
                            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#')
                                p WCMN

                        .collapse.navbar-collapse.navbar-exl-collapse
                            ul.nav.navbar-nav.navbar-right
                                li 
                                    a(href="#") Feedback
                                li
                                    a(href="#") Blank
                                li
                                    a(href="/signin") Sign In
            

            div.jumbotron
                div.container
                    h1 Women's Coding Mentoring Network

            div.well
                h4 I'm in a well


            div.row
                div.col-sm-6 
                    div.thumbnail
                        img(src='./images/mentee.jpg' alt='photo credit morgueFile.com')
                        div.caption
                            h3 Mentee Application
                            p Nonsensical stuff about how awesome it is to be learning stuff
                            a.btnbtn-primary(href="/mentee") Apply

                div.col-sm-6
                    div.thumbnail
                        img(src="./images/mentor.jpg" alt="photo credit morgueFile.com")
                        div.caption
                            h3 Mentor Application
                            p Nonsensical stuff about how awesome it is to help new coders.
                            a.btnbtn-primary(href="/mentor") Apply

            //- Give users a link to log out of their account
            p: a(href="/auth/logout") Log out
