extends layout

block content

    nav.navbar.navbar-default(role="navigation")
        .navbar-header
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                p WCMN

        .collapse.navbar-collapse.navbar-exl-collapse
            ul.nav.navbar-nav.navbar-right
                li 
                    a(href="#") Feedback
                li
                    a(href="#") something

    .col-lg-10(col-md-10='col-md-10')
            h1 Mentor Application
            form.form-horizontal(method="post", id="loginForm")
               label Username
               input.span3(id="username", type="text", name="User", placeholder="Create User Name")
               label Password
               input.span3(id="password", type="password", name="Password", placeholder="Create Password")
               input.btn(type="submit", value="Log In")
            div.radio
               h3 Languages
               p Please click on the language that you are interested in using during mentorship
                  
               .radio
                  label
                     input#optionsRadios1(type='radio' name='optionsRadios' value='option1')
                     | C language
               .radio
                  label
                     input#optionsRadios2(type='radio' name='optionsRadios' value='option2')
                     | C++
               .radio
                  label
                     input#optionsRadios3(type='radio' name='optionsRadios' value='option3')
                     | C#
               .radio
                  label
                     input#optionsRadios4(type='radio' name='optionsRadios' value='option4')
                     | Objective C
               .radio
                  label
                     input#optionsRadios5(type='radio' name='optionsRadios' value='option5')
                     | Java
               .radio
                  label
                     input#optionsRadios6(type='radio' name='optionsRadios' value='option6')
                     | PHP
               .radio
                  label
                     input#optionsRadios7(type='radio' name='optionsRadios' value='option7')
                     | Python
               .radio
                  label
                     input#optionsRadios8(type='radio' name='optionsRadios' value='option8')
                     | Ruby
               .radio
                  label
                     input#optionsRadios9(type='radio' name='optionsRadios' value='option9')
                     | JavaScript
               .radio
                  label
                     input#optionsRadios10(type='radio' name='optionsRadios' value='option10')
                     | C language
               
                     .row
                        .col-md-4
                           .input-group
                              span.input-group-btn
                                 button.btn.btn-default(type="button") Other 
                              input.form-control(type="text")
                        
                     

               h3 Why Mentor?

               p When entering into a mentoring partnership, both parties commit to a shared effort. Mentoring is a great gift.  Please take some time to help us better understand why you want to mentor and your goals in being a mentor.

                  .row


                     p What are your goals in working with a mentee?
                        textarea(class="form-control " rows="4" placeholder="Type answer here")
                     
                     p How do you plan to mentor budding women coders?  (Think about your personality, tempermanet and teaching style.)
                        textarea(class="form-control" rows="4" placeholder="Type answer here")

                     p What is your availability?
                        textarea(class="form-control" rows="4" placeholder="Type answer here")

                     p What are some of your interests and hobbies?
                        textarea(class="form-control" rows="4" placeholder="Type answer here")


                     button.btn.btn-primary(method='post' action='/postForm' type='button') Submit















