extends layout

block content 
  .container
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container    

        .navbar-header
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                p WCMN

        .collapse.navbar-collapse.navbar-exl-collapse
            ul.nav.navbar-nav.navbar-right
                li 
                    a(href="#") Feedback
                li
                    a(href="#") Blank
  //- This is the carousel
  .carousel-slide#myCarousel
    ol.carousel-indicators
      li.active(data-slide-to='0' data-target="myCarousel")
      li(data-slide-to='1' data-target="myCarousel")
      li(data-slide-to='2' data-target="myCarousel")

    .carousel-inner
      #slide1.item.active
                   
        .carousel-caption
          h4 Skillcrush
            p
              | Skillcrush.com
      #slide2.item           
        .carousel-caption
          //- h4 Learn to code in 4 hours!
          //-   p
          //-     | PSD to HTML/CSS....blah blah
      #slide3.item          
        .carousel-caption
          //- h4 WEbhosting
          //-   p
          //-     | Something Else!
      
          a.left.carousel-control(data-slide='prev' href='#myCarousel')
            span.icon-prev
          a.right.carousel-control(data-slide='next' href='#myCarousel')
            span.icon-next

  #features.row
    .col-sm-6.col-md-4
      .thumbnail
        img(src="http://placehold.it/300x300")
      .carousel-caption
        h3 Thumbnail label
        p lorem ipsum shite
        p 
          a.btn.btn-primary(href='http://google.com' role='button') Button
    .col-sm-6.col-md-4
      .thumbnail
        img(src="http://placehold.it/300x300")
        .carousel-caption
          h3 Thumbnail label
          p lorem ipsum shite
          p 
            a.btn.btn-primary(href='http://google.com' role='button') Button
    .col-sm-6.col-md-4
      .thumbnail
        img(src="http://placehold.it/300x300")
        .carousel-caption
          h3 Thumbnail label
          p lorem ipsum shite
          p 
            a.btn.btn-primary(href='http://google.com' role='button') Button

  //- #featuresHeading.row
  //-   .col-12
  //-     h2 Great resources for women who code!
  //-     p Check out some of these great websites aimed at promoting women in coding!

  //-       #features.row
  //-         .col-sm-4.features
  //-           .panel
  //-             .panel-heading
  //-               h3.panel-title Skillcrush
  //-           img(src="../../images/skillcrush101.png")
  //-           p Woman created.  Woman owned.  Has blogs, screencasts, webinars, a 10 day bootcamp, and even Skillcrush Blueprints-a career path blueprint for web development or web design.
  //-           a.btn.btn-info.btn-block(href="https://www.skillcrush.com/") Go To Skillcrush!
  //-       #features.row
  //-         .col-sm-4.features
  //-           .panel
  //-             .panel-heading
  //-               h3.panel-title Made With Code
  //-           img(src="../../images/made_with_code.jpg")
  //-           p Google created to inspire women and girls to learn to code.  Great stories and great ideas!
  //-           a.btn.btn-info.btn-block(href="https://www.madewithcode.com/") Go To Made With Code!
  //-       #features.row
  //-         .col-sm-4.features
  //-           .panel
  //-             .panel-heading
  //-               h3.panel-title Women Who Code!
  //-           img(src="../../images/women_who_code.jpg")
  //-           p The Denver/Boulder chapter has the 2nd largest contingent in the country.
  //-           a.btn.btn-info.btn-block(href="https://www.womenwhocode.com/") Go To Women Who Code!




























