extends layout

block content 
  .container
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      .container    

        .navbar-header
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                p WCMN

        .collapse.navbar-collapse.navbar-exl-collapse
            ul.nav.navbar-nav.navbar-right
                li 
                    a(href="#") Feedback
                li
                    a(href="#") Blank
    //- This is the carousel
    .carousel.slide#myCarousel
      ol.carousel-indicators
        li.active(data-slide-to='0' data-target="#myCarousel")
        li(data-slide-to='1' data-target="#myCarousel")
        li(data-slide-to='2' data-target="#myCarousel")

      .carousel-inner
        #slide1.item.active
                     
          .carousel-caption
            h4 Skillcrush
              p Skillcrush.com
        #slide2.item           
          .carousel-caption
            //- h4 Learn to code in 4 hours!
            //-   p
            //-     | PSD to HTML/CSS....blah blah
        #slide3.item          
          .carousel-caption
            //- h4 WEbhosting
            //-   p
            //-     | Something Else!
        
      a.left.carousel-control(data-slide='prev' href='#myCarousel')
        span.icon-prev
      a.right.carousel-control(data-slide='next' href='#myCarousel')
        span.icon-next

  #features.row
    .col-sm-6.col-md-4
      .thumbnail
        img(src='../../images/skillcrush101.png')
        .caption
          h3 Skillcrush
          p Woman created/Woman owned.  Check out the Skillcrush career blueprint plan for aspiring web developers and web designers.
          p
           
            a.btn.btn-primary(href='http://skillcrush.com' role='button') Button
    .col-sm-6.col-md-4
      .thumbnail
        img(src="../../images/phpsMQS98AM.jpg")
        .caption
          h3 Made with Code
          p Google created to inspire women and girls to learn to code.  Great stories and great ideas!
          p 
            a.btn.btn-primary(href='http://madewithcode.com' role='button') Button
    .col-sm-6.col-md-4
      .thumbnail
        img(src="../../images/phpd83ivxAM.jpg")
        .caption
          h3 Women Who Code
          p Check out the Women Who Code Meetup.  The Denver/Boulder chapter has the 2nd largest contingent in the country.
          p 
            a.btn.btn-primary(href='http://womenwhocode.com' role='button') Button

  footer
                .container
                    .row
                        .col-sm-4
                            h6 Copyright © 2013 Teri Castle
                        .col-sm-4
                            h6 About Teri
                            p
                                | Lucas ipsum dolor sit amet wicket antilles wedge mandalorians droid kenobi mandalore moff obi-wan ben. Palpatine gonk kenobi moff. Boba moff dantooine anakin. Luke lando darth moff kenobi darth wedge darth. Jar mon dantooine solo wookiee anakin kenobi darth kenobi.
                        .col-sm-4
                            h6 navigation
                            ul.unstyled
                                li
                                    a(href='/') Home
                                li
                                    a(href='#') Services
                                li 
                                    a(href='mailto:tealynsea@hotmail.com') Contact Teri

   



















