@media (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}


h4 {
	margin-bottom: 25px;
	margin-top: 25px;
}

label {
	margin-right: 10px;
	margin-left: 10px;
}

input {
	margin: 5px;
}

#background {
	background: url(../../images/greybackgroun.jpeg) ;
	height: 100%;
	width: 100%;
}

#signinForm {
	border: 2px solid black;
	text-align: center;
	margin-top: 200px;
	padding: 10px;

}

#dropdownForm {
	padding: 15px;

}

 
.available{
	border: 2px solid black;
	padding: 10px;
	height: auto;
	position: relative;
	margin-bottom: 10px;
	
}



.buttons {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#admin {
	margin-top: 100px;
}




.summary {
	display: none;
	
	height: auto;
	/*width: 425px;*/
	padding-left: 200px;
}

.summaryContent {
	border: 1px solid black;
	width: 425px;
}

.welcome {
	margin-top: 100px;
}

.navbar-header {
	margin: 10px;
}

#navHeader {
	margin-left: 50px;
}

.top {
	margin-top: 70px;
}

div.jumbotron { 
	margin-top: 85px;
}

.approvalList {
	margin-top: 85px;
}
/*--------Resources page---------*/

#myCarousel {
	margin-top: 30px;
}

#myCarousel .item {
	height: 500px;
	background-color: black;

}

#slide1 {
	background: url(../../images/skillcrush_banner.jpg) center no-repeat;
	margin: 0 auto;
}

#slide2 {
	background: url(../../images/Made_w_Code.png) center no-repeat;
}

#slide3 {
	background: url(../../images/womenwhocode-f71ba0c8.jpg) center no-repeat;
}

#slide4 {
	background: url(../../images/orig.jpg) center no-repeat;
	
}

.carousel-caption {
	color: black;
	font-size: 14px;
}

#features {
	margin-top: 100px;
}

/*------------ footer ----------------*/

footer {
	border: 1px solid black;
	background-color: black;
	color: white;

}





