@media (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}


h4 {
	margin-bottom: 25px;
	margin-top: 25px;
}

label {
	margin-right: 10px;
	margin-left: 10px;
}

#signinForm {
	border: 2px solid black;
	text-align: center;
	margin-top: 200px;
	padding: 10px;

}

#available {
	border: 2px solid black;
}

.profile {
	border: 2px solid black;
	padding: 10px;
	height: 55px;
	height: 100px;
}

.contactButton {
	padding: 5px;
	margin-left: 10px;
}

.summary {
	display: none;
}

.welcome {
	margin-top: 100px;
}

.navbar-header {
	margin: 10px;
}

div.jumbotron { 
	margin-top: 85px;
}
/*--------Resources page---------*/

#myCarousel {
	margin-top: 30px;
}

#myCarousel .item {
	height: 500px;

}

#slide1 {
	background: url(../../images/skillcrush_banner.jpg) center no-repeat;
	margin: 0 auto;
}

#slide2 {
	background: url(../../images/Made_w_Code.png) center no-repeat;
}

#slide3 {
	background: url(../../images/womenwhocode-f71ba0c8.jpg) center left no-repeat;
	margin-left: 484px;
}

#features {
	margin-top: 100px;
}

/*------------ footer ----------------*/

footer {
	border: 1px solid black;
	background-color: black;
	color: white;

}





